@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

*{
font-family: "Readex Pro", sans-serif;
     scroll-behavior: smooth !important;
   
}

html{
       background-color: #eaddcf;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}